*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  /* border:10px solid green; */
  background:rgb(66, 106, 158);
  margin:3px;
  background-image: linear-gradient(top,red, blue,transparent);
  position: relative;

}

.section1-title-one {
  font-size:4rem;
  text-align: center;
  color: orange;
  margin: 2rem 0rem;
}
.section1-content {
  font-size: 2.5rem;
  text-align: center;
  color: yellowgreen;
}
.article1-img div {
  margin: 8rem 0rem;
  text-align: center;
  /* border: 1px solid black; */
 
}

.article1-main {
  margin: 8rem 0rem;
  text-align: center;
  font-size: 4rem;
  color:orange;
}
.article1-main_nav li{
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2rem 0rem;

}

.article1-main_nav a {
  color: orange;
  text-decoration: none;
}

.article1-img div > img {
  /* border-radius: 3rem; 
  border: 0.3rem solid red; */
  border-radius: 35%;
  
}
.banner {
  /* background:black; */
  height:5.7rem;
  width:100%;
  background-image:url('../images/hero-one.jpg') ;
  background-repeat: no-repeat;
  background-position:center;
  position:fixed;
  top: 0rem;
  z-index: 1;
  
}
._position {
 position: relative;
 text-align: center;
 top: 0.2rem;
 /*
 left: 650px;
 
 */
}
.test_1{
  position: fixed;
  left:40.5rem;
}
.menu-nav__elements {
  text-align: center;
  margin-top: 5.7rem;

}
.menu-nav__elements li {
  display: inline-block;
  /* text-align: center; */
  /* background-color: orangered; */
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2rem 0rem;
  /*El contenedor de todos los nombres */
}

.menu-nav__elements li > a {
    color: white;
    text-decoration:none;
    font-size: 2.5rem;
    
  }

.video {
  border:1px solid goldenrod;
  margin:0;
  display:inline-block;
  width:100%;
  height:auto;
  aspect-ratio:16/9;

}

input {
  margin-top: 15.5rem;
}