body {
  border:3px solid red;
  color:black;
  margin:0;
 }

header {
  border:3px solid green;
  font-size:20px;
  background-color:blue;

}

 h1 {
  border:3px solid red;
  font-size: 60px;
 }

a {
  border:3px solid green;
  text-decoration:none;
  }




.main {
  border:5px solid yellow;
  background: blue;
}

.wrapper {
  border:3px solid purple;
  width:624px;
  margin:auto;
}

.main-content {
  padding:20px;
}

.hero-one{
  background-color: black;
  background-image:url('../images/hero-one.jpg') ;
  background-repeat: no-repeat;
  background-position:center;
  height:57px;
 }

 .title-one{
  color:red;
  font: size 30px;
}

p:hover{
  color:rgba(255,0,0,.5);
}
.stranger{
  background:black;
  width:100vw;
  /* margin: 10px; */
}


