body {
  border:3px solid red;
  background:white;
  color:black;
  margin:0;
 }

header {
  border:3px solid green;
  font-size:20px;
}

main{
  border:5px solid yellow;
  width:624px;
  margin:auto;
}

 h1 {
  border:3px solid red;
  font-size: 60px;
 }

a {
  border:3px solid green;
  text-decoration:none;
  }

 .title-one{
  color:red;
  font: size 30px;
}

p:hover{
  color:rgba(255,0,0,.5);
}
.stranger{
  background:black;
  width:100vw;
  /* margin: 10px; */
}


